.navbar-right {
  display: flex;
  align-items: center;
}

.social-icons {
  display: inline-block;
}

.social-icons a {
  /* color: black; */
  /* display: inline-flex; */
  margin-right: 25px;
  align-items: center;
  justify-content: center;
}

.contact-button {
  font-weight: 400;
  color: white;
  background-color: #A52020;
  border: 1px solid #A52020;
  padding: 7px 10px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	/* background-color: transparent; */
	transition: 0.3s ease-in-out;
  border-radius: 10px;
}

.hero-section {
  margin-top: 50px;
}

.hero-right-section {
  width: 100%;
}

.hero-right-section  img {
  width: 100%;
  /* margin: 50px 0 50px 10px; */
  object-fit: contain;
  border-radius: 10px;
  /* opacity: 70%; */
}